body{
    margin: 0;
    padding: 0;
    background-color: rgb(199, 210, 199);
   
}
.head{
    width:auto;
    height: 220px;
    background-color: rgb(23, 23, 252);
    margin: 0px;
    img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transform: translateY(20px);
    transition: transform 0.3s;
    }
    h1{
        text-align: center;
        font: serif ;
        padding-top: 15px;
        font-size: 20px;
        color: antiquewhite;
    }
    p{
        text-align: center;
        font: serif ;
        font-size: 15px;
        color: antiquewhite;
    }

}

.about{
    padding-left: 40px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(141, 221, 255);
    border-radius: 20px;
    margin-top: 30px;
    width: 340px;
    padding: 18px;
    box-shadow: 0 2px 8px ;
    transition:transform 0.5s; box-shadow: 0.5s;
}
.skill img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 11px;
}
.skill h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 10px;    
}
.skillcontent{
    background-color: rgb(0,140,255);
    text-align: center;
    border-radius: 20px;
}

.button{
    padding: 10px;
    background-color: rgb(0,140,255);
    text-align: center;
    border-radius: 20px;
    transition: transform 0.5s;
}
.button:hover{
    transform: scale(1.2);
}

.skill:hover{
    background-color: rgb(218, 170, 255);
    transform: scale(1.1);
    box-shadow: 0 4px 16px 0 rgb(71, 71, 71);
    p{
        background-color: rgb(190, 105, 255);
    }
    button{
        background-color: rgb(190, 105, 255);
    }
}
.footer{
    background-color: blue;
    text-align: center;
    color: white;
    padding: 10px 0;
    i{
        padding-right: 20px;
        font-size: 50px;
        transition: transform 0.5s;
    }
}
.footer i:hover{
    transform: scale(1.2);
    color: pink;
}


